body { background-color: #f8f4f4; } 

/* ----- Hero Layout----- */

.hero {
    /* position:relative; */
    z-index: -1;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 65vh; */
}

/* .arch {
    background-image: url('../images/architecture/background.webp');
} */

.kaneco {
    background-image: url('../../architecture/assets/images/pwc-servery.jpg');
}

/* ----- Start List of Projects----- */


.intro-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5% 15%;
    /* background-color: #d9d9d9; */
  }

  @media only screen and (max-width: 992px) {

    .intro-gallery {
        padding: 5%;
      }

  }

  .intro-gallery > div {
    z-index: 1;
    width: 50%;
    overflow: hidden;
    border-radius: .7rem;
  }

  @media only screen and (max-width: 480px) {

    .intro-gallery > div {
        width: 100%;
      }    

}

  .intro-gallery a img {
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: .85s ease;
    padding: 30px;
    border-radius: 40px;
  }

  .end-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3%;
    background-color: #f0f0f0;
  }
  
  .end-gallery > div {
    z-index: 1;
    width: 25%;
    overflow: hidden;
  }

  @media only screen and (max-width: 480px) {

    .end-gallery > div {
        width: 50%;
      }    

}

  .end-gallery a img {
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: .85s ease;
    padding: 10px;
  }

  .box-flex {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    /* background-color: #d9d9d9; */
  }
  
  /* (C) CAPTION */
  .hovercap {
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* (D) SHOW/HIDE */
  .hovercap {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
  }

  .box-flex:hover .hovercap {
    visibility: visible; 
    opacity: 1;
  }

  .box-flex:hover img {
    filter: blur(1.8px);
    transform: scale(1.2);
    opacity: 0.4;
  }
  
  @media all and (max-width:767px) {
    
    .hovercap {
        visibility: visible;
        opacity: 1;
        background-color: rgba(205, 205, 205, 0.564);  
        backdrop-filter: blur(5px);
        padding: 5px 10px;
        border-radius: 5px;
      }
    
  }

/* ----- End List of Projects----- */

@media(max-width: 1024px){
    .hero-arch {
        background-image: url('../images/architecture/background-900.webp');  
     }
 }

.block-it{
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    bottom: 30%; */
    width: 100%;
    margin: 10% 0 5% 0;
    border-bottom: .5px solid #252b2f ;
}

@media only screen and (max-width: 480px) {

    .block-it {
        flex-direction: column;
    }

}

.block-it h4 {
    font-size: calc(42px + (90 - 42) * ((100vw - 320px) / (1600 - 320)));
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10%;
    width: 50%;
    align-self: flex-end;
    /* text-shadow: 15px 15px 40px #607D8B; */
}

@media only screen and (max-width: 480px) {

    .block-it h4{
        margin: 4% auto;
        align-self: flex-start;
        width: auto;
    }

}

.big-letter {
    font-size: calc(250px + (600 - 250) * ((100vw - 320px) / (1600 - 320)));
    font-family: "minion-pro-caption", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 0.7;
    /* color: #EAEAEA; */
    width: 50%;
    margin-left: -5rem;
    margin-bottom: 0;
    align-self: flex-end;
    text-shadow: 15px 15px 40px #31383b52
}

@media only screen and (max-width: 480px) {

    .big-letter {
        align-self: flex-start;
        width: 100%;
    }

}

/* Paragraph links ends */
h3 a:link, h3 a:visited {
    text-decoration: none;
    color: #455C80;
    padding-bottom: 1.5px;
    border-bottom: solid 2px #455C80;
}

h3 a:hover, h3 a:focus, h3 a:active {
    text-decoration: none;
    color: green;
    padding-bottom: 1.5px;
    border-bottom: solid 2px green;
}
/* Paragraph links ends */

.container-section-heading{
    background-color: #f8f4f4;
    width: 100%;
    height: 30%;
    margin-bottom: 100px;
    z-index: 99;
    position: relative;
}

.arch-intro {
    text-align: center;
    margin: auto;
    padding: 8% 0;
    width: 70%;
}

/* ----- End Hero Layout----- */

/* ----- Standard Sheet Layouts ----- */
/* Just flexbox - No grid */

.flex-back{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 0;
    margin: 250px 10%;
    border-radius: 10px;
}

@media all and (min-width:1600px) {

    .flex-back {
        padding: 3%;
        border-radius: 10px;
    } 

}

@media all and (max-width:767px) { 

    .flex-back { 
        margin: 200px 5%;
    }

}

/* FlexBox End */

/* FlexBox & Grid */

.flex-grid {
        display: flex; 
        flex-flow: row wrap; 
        justify-content: space-between;
        margin: 250px 10%;
        padding: 3.5%;
        height: 100%;
        border-radius: 10px;
}

@media all and (min-width:1600px) {

    .flex-grid {
        /* margin: 300px 12.5%; */
        padding: 5%;
    } 

}

@media all and (max-width:767px) {

    .flex-grid {
        margin: 100px 5% 100px 5%;
        min-width: 0;
    } 

    .flex-grid p { text-align: left; }

}

/* End FlexBox & Grid */

/* Standard grid features */

.grid-layout {
    display: grid;
    margin: -15% auto 0px auto;
    row-gap: 15px;
    column-gap: 15px;
}

@media all and (max-width:767px) {
 
    .grid-layout { 
        min-width: auto;
        margin: 5px auto 5px auto;
        row-gap: 10px;
    }

}

/* End Standard grid features */
/* ----- End Standard Sheet Layouts ----- */

/* ----- JFA & ICON Page Setup ----- */

.title-right { 
    padding: 0 50px;
    width: 100%;
    text-align: right;
    margin: -90px 0px 25px 0px;
}

.title-left { 
    padding: 0 50px;
    width: 100%;
    margin: -90px 0px 25px 0px;
}

@media all and (max-width:1024px) {
 
    .title-right { 
        margin-top: -12%;
    }
    
    .title-left { 
        margin-top: -12%;
    }

}

.flex-back div { 
    width: 45%; 
    padding: 2% 1%;
    align-self: center;
}

.flex-back img { 
    width: 45%;
    padding: 2% 1%;
    align-self: center;
}

.flex-back.right-just div { 
    text-align: right;
}

.flex-back div h6,
.flex-grid div h6 {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));;;
    color:#252b2f; 
    font-weight: 600;
    padding: 0px;
    margin-bottom: 2px;
}


/* Desktop */
@media all and (min-width:1500px) {
    
    .flex-back.right-just {
        margin-bottom: 180px;
    }
}

/* Mobile */
@media all and (max-width:767px) { 
    
    .flex-back div { 
        width: 80%; 
        padding: 2% 1%;
        text-align: center;
    }

    .flex-back.right-just div { 
        text-align: center;
    }

    .flex-back img { 
        width: 80%;
        padding: 4% 1%;
        align-self: center;
    }

    /* Mobiles: Re-order columns for ICON */
    .right-just *:nth-child(2) { order: 3; }
    .right-just *:nth-child(3) { order: 2; }
    .right-just *:nth-child(4) { order: 5; }
    .right-just *:nth-child(5) { order: 4; }
    .right-just *:nth-child(6) { order: 7; }
    .right-just *:nth-child(7) { order: 6; }
    .right-just *:nth-child(8) { order: 9; }
    .right-just *:nth-child(9) { order: 8; }
    .right-just *:nth-child(10) { order: 11; }
    .right-just *:nth-child(11) { order: 10; }
    .right-just *:nth-child(12) { order: 13; }
    .right-just *:nth-child(13) { order: 12; }

}

/* ----- End of JFA & ICON Page Setup ----- */

/* ----- ARCHIVES Page Setup ----- */
.arch-1 {
    grid-area: concept-a;
    border: solid 1px;
    align-self: end;
}

.arch-2 {
    grid-area: title-a;
    text-align: right;
    align-self: end;
}

.arch-3 {
    grid-area: intro-a;
    text-align: right;
    line-height: 1.3;
}

.arch-4 {
    grid-area: interior1-a;
    border: solid 1px;
    background-image: url("../../archives/assets/images/vingette.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.arch-5 {
    grid-area: description-a;
    line-height: 1.3;
    align-self: center;
}

.arch-6 {
    grid-area: section1-a;
    border: solid 1px;
    align-self: end;
}

.arch-7 {
    grid-area: section2-a;
    border: solid 1px;
    align-self: end; 
}

.arch-8 {
    grid-area: interior2-a;
    border: solid 1px;
    object-fit: cover;
}

.arch-9 {
    grid-area: interior3-a;
    border: solid 1px;
    background-image: url("../../archives/assets/images/vingette2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.archives {
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-areas: 
      ". concept-a concept-a"
      "title-a concept-a concept-a"
      "intro-a concept-a concept-a"
      "interior1-a description-a description-a"
      "interior1-a section1-a section2-a"
      "interior2-a interior3-a interior3-a";
}

/* ARCHIVES Mobile & tablet*/

@media (min-width:450px) and (max-width:766px) {

    .arch-4,
    .arch-9 {
        height: 40em;
    }

}

@media all and (max-width:449px) {
    .arch-4,
    .arch-9 {
        height: 25em;
    }
}

@media all and (max-width:767px) {

    .arch-3 {
        text-align: left;
    }

    .archives{
        grid-template-columns: 80vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "concept-a"
        "title-a"
        "intro-a"
        "description-a"
        "interior1-a"
        "interior1-a"
        "interior2-a"
        "interior3-a"
        "section1-a"
        "section2-a";
    }
}

/* ----- End of ARCHIVES Page Setup ----- */

/* ----- COMMUNITY CENTRE Page Setup ----- */

.comm-1 {
    grid-area: concept-c;
    border: solid 1px;
}

.comm-2 {
    grid-area: title-c;
    align-self: end;
}

.comm-3 {
    grid-area: intro-c;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.3;
    text-align: right;
    align-self: start;
}

.comm-4 {
    grid-area: birdseye-c;
    border: solid 1px;
    background-image: url("../../community/assets/images/site-view.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    background-position: center;
}

.comm-5 { grid-area: diagram-c }

.comm-6 {
    grid-area: plan1-c;
    width: 75%;
    margin: 0 auto;
}

.comm-7 {
    grid-area: plan2-c;
    width: 75%;
    margin: 0 auto;
}

.comm-8 {
    grid-area: ext1-c;
    border: solid 1px;
}

.comm-9 {
    grid-area: ext2-c;
    border: solid 1px;
}

.comm-10 {
    grid-area: elev-c;
    border: solid 1px;
}

.comm-11 { grid-area: section-c }
    
.community {
    grid-template-columns: 1.1fr 1fr;
    grid-template-areas: 
      "concept-c ."
      "concept-c title-c"
      "intro-c birdseye-c"
      "diagram-c ext1-c"
      "plan1-c ext2-c"
      "plan2-c ext2-c"
      "elev-c elev-c"
      "section-c section-c";
}

/* COMMUNITY Mobile Grid */
@media all and (max-width:767px) { 

    .comm-4 {
        height: 20em;
    }

    .community { 
        grid-template-columns: 80vw;
        grid-template-rows: auto;
        grid-template-areas: 
          "concept-c"
          "title-c"
          "intro-c"
          "birdseye-c"
          "diagram-c"
          "ext1-c"
          "ext2-c"
          "plan1-c"
          "plan2-c"
          "elev-c"
          "section-c";
    }
}
/* ----- End of COMMUNITY CENTRE Page Setup ----- */

/* ----- RESEARCH CENTRE Page Setup ----- */

.wind-1 { grid-area: concept1-w}

.wind-2 {
    grid-area: title-w;
    text-align: right;
    align-self: end;
    padding-bottom: 40px;
}

.wind-3 { grid-area: concept2-w }

.wind-4 {
    grid-area: intro-w;
    text-align: right;
}

.wind-5 {
    grid-area: birdeye-w;
    border: solid 1px;
    background-image: url("../../wind-research/assets/images/birds-eye.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.wind-6 {
    grid-area: exterior1-w;
    border: solid 1px;
}

.wind-7 {
    grid-area: exterior2-w;
    border: solid 1px;
}

.wind-8 { grid-area: rose-w }

.wind-9 { 
    grid-area: section-w;
    align-self: center; 
}

.wind-10 {
    grid-area: elevation-w;
    align-self: end;
}

.wind {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      ". concept1-w"
      "title-w concept1-w"
      "title-w concept2-w"
      "intro-w birdeye-w"
      "exterior1-w exterior2-w"
      "rose-w section-w"
      "elevation-w elevation-w";
}


/* REASEARCH Mobile Grid */
@media all and (max-width:767px) {
 
    .wind { 
        grid-template-columns: 80vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "concept1-w"
            "title-w"
            "concept2-w"
            "intro-w"
            "birdeye-w"
            "exterior1-w"
            "exterior2-w"
            "rose-w"
            "section-w"
            "elevation-w" 
            "elevation-w";
    }

    .wind-5 {
        height: 20em;
    }

}

/* ----- End of RESEARCH CENTRE Page Setup ----- */

/* ----- ARCHITECTURE DESK Page Setup ----- */

.desk-1 {
    grid-area: axo-d;
    background: transparent;
    width: 90%;
    justify-self: end;
}

.desk-2 {
    grid-area: title-d;
    align-self: end;
    justify-self: end;
    text-align: right;
    margin-right: -20%;
}

@media all and (max-width:767px) {
 
    .desk-2 { 
        margin-right: 0;
    }

    .desk-4,
    .desk-7 { 
        height: 20em;
    }

}

.desk-3 {
    grid-area: descr-d;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.3;
    text-align: left;
    align-self: start;
}
/* .desk-4 {
    grid-area: descr2-d;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.3;
    text-align: left;
    align-self: start;
} */

.desk-5 {
    grid-area: tech-drawings-d;
    align-self: center;
}

.desk-6 { 
    grid-area: desk-closed-d;
    border: solid 1px;
}

.desk-7 {
    grid-area: desk-open-d;
    background-image: url("../../desk/assets/images/desk-open.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border: solid 1px;
}

.desk {
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-areas: 
      "title-d axo-d axo-d"
      "descr-d descr-d tech-drawings-d"
      "desk-closed-d desk-closed-d desk-open-d";
}

/* DESK Mobile Grid */
@media all and (max-width:767px) {
 
    .desk { 
        grid-template-columns: 80vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "axo-d"
            "title-d"
            "descr-d"
            "tech-drawings-d"
            "desk-closed-d"
            "desk-open-d";
    }

    .desk-7 {
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 61.40%; /* Properly adjusts background image (img height/image width)*/
    }

}

/* ----- End of ARCHITECTURE desk Page Setup ----- */

/* ----- Start of SOUND INSTALLATION Page Setup ----- */

.sound-1 {
    grid-area: title-s;
    background: transparent;
    width: 90%;
    justify-self: center;
    text-align: center;
}

.sound-2 {
    grid-area: pano-s;
    align-self: center;
    justify-self: center;
}

.sound-3 {
    grid-area: descr-s;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.3;
    text-align: left;
    align-self: start;
}
.sound-4 {
    grid-area: chart-s;
    border: solid 1px;
    align-self: center;
}

.sound-5 {
    grid-area: listening-s;
    background-image: url("../../sound-installation/assets/images/listening.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border: solid 1px;
}

.sound-6 { 
    grid-area: install1-s;
    border: solid 1px;
}

.sound-7 {
    grid-area: install2-s;
    border: solid 1px;
}

.sound {
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-areas: 
      "title-s title-s title-s title-s"
      "pano-s pano-s pano-s pano-s"
      "descr-s chart-s chart-s chart-s"
      "listening-s listening-s install2-s install1-s";
}

@media all and (max-width:767px) {
 
    .sound { 
        grid-template-columns: 80vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "title-s"
            "pano-s"
            "descr-s"
            "chart-s"
            "listening-s"
            "install1-s"
            "install2-s"
            "install3-s";
    }

    .sound-5 {
        height: 20em;
    }

}

/* ----- End of SOUND INSTALLATION Page Setup ----- */














