/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box }
html { height: 100% }
body { min-height: 100% }  
img { width: 100%; height: auto; max-width: 1600px; display: block }

html {overflow-y: scroll; }

/*Photography Layouts*/
.canada-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	list-style: none;
	margin-bottom: 100px;
}
.thumbnail {
	padding: 3px;
	max-width: 1000px;
	width: 375px;
	height: auto;
}
.thumbnail:hover,
.thumbnail:focus {
  opacity: 75%;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.montage-flex {
	padding: 0px 25% 50px 25%;
	flex-direction: column;
}
.montage-flex li {
	margin: 30px 0;
}
.photo-block{
    margin: 100px 10% 0px 10%;
    text-align:center;
}
.photo-block h4{
    text-shadow: 5px 5px 5px lightgrey;
}
.animate__animated.animate__fadeIn {
	--animate-duration: 3s;
}
.animate__animated.animate__shakeY {
	--animate-duration: 4s;
	--animate-delay: 0.5s;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  } 

/* ---Mobile Adjustments--- */

@media all and (max-width:767px) {
	.thumbnail {
		padding: 10px;
	}
	.montage-flex {
		padding: 0px 5% 50px 5%;
	}
}