.test-svg {
    height: 500px;
    width: 500px;
    animation: scaledown 3s infinite;
}
.test-svg2 {
    height: 500px;
    width: 500px;
    animation: scaledown2 3s infinite;
}
.test-svg3 {
    height: 500px;
    width: 500px;
    animation: scaledown3 3s infinite;
}

@keyframes scaledown {
    0% {
      transform: scale(1.0);
    }
    30% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1.0);
    }
  }

  @keyframes scaledown2 {
    0% {
      transform: scale(0.8);
    }
    30% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(0.8);
    }
  }

  @keyframes scaledown3 {
    0% {
      transform: scale(0.6);
    }
    30% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(0.6);
    }
  }