html.pushbar_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
    filter: blur(15px);
}

.pushbar_overlay {
    z-index: -999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
    opacity: 0;
    background: #3c3442;
}

html.pushbar_locked .pushbar_overlay {
    opacity: 0.8;
    z-index: 999;
}

[data-pushbar-id] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform 0.5s ease;
    background: #fff;
}

[data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
    top: 0;
    width: 256px;
    max-width: 100%;
    height: 100%;
}

[data-pushbar-direction="top"][data-pushbar-id], [data-pushbar-direction="bottom"][data-pushbar-id] {
    left: 0;
    width: 100%;
    min-height: 150px;
}

[data-pushbar-direction="left"][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%);
}

[data-pushbar-direction="right"][data-pushbar-id] {
    right: 0;
    transform: translateZ(0) translateX(100%);
}

[data-pushbar-direction="top"][data-pushbar-id] {
    top: 0;
    transform: translateZ(0) translateY(-100%);
}

[data-pushbar-direction="bottom"][data-pushbar-id] {
    bottom: 0;
    transform: translateZ(0) translateY(100%);
}

[data-pushbar-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
}

/* Bar Aesthetics */
.push_left {
    margin-left: 10px;
}
.push_right {
    margin-right: 10px;
}
textarea {
    margin-bottom: 0px;
    min-height: 200px;
}
.close {
    width: 20px;
    height: 21px;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    cursor: pointer;
}
.close:hover {
    opacity: 50%;
    transition: transform 0.5s ease;
}

.close:before, .close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 21px;
    width: 3px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.card_title, .title, [data-pushbar-id] {
    background: #D3D1F3;
    color: black;
    letter-spacing: 1.5px;
}

.card_title, .title {
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu li {
    list-style: none;
    padding: 15px 55px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    display: block;
    margin: 0px;
    color: rgba(255, 255, 255, 0.65);
}

.menu li:last-child{ border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.menu a {
    font-family: 'Montserrat', sans-serif;
    color: #3D3D3D;
    font-weight: 600;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
    opacity: 70%;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #828191;
    border: 0.1rem solid #828191;
}
/* End of Push Bar Aesthetics */

/* Nav Mobile */
@media only screen and (max-width: 678px) {
  .sidebar-fixed{ 
    position:fixed; 
    z-index: 999;
    height: 60px;
    width: 100%;
    background: #EAEAEA;
  }
  .sidehome {
   position: fixed;
   display: inline-block;
   top: 17px;
   left: 5vw;
   height: 30px;
   width: 30px;
  }
  .sidedropbtn {
   position: fixed;
   background-color: transparent;
   color: rgb(0, 0, 0);
   top: 17px;
   left: 85vw;
   border: none;
   height: 30px;
   width: 30px;
   max-width: 100%;
  }
}