/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box }
html { height: 100% }
body { min-height: 100% }  
img { width: 100%; height: auto; max-width: 1600px; display: block }

html {
    scroll-behavior: smooth;
  }
img {
    max-width: 100%;
}
body {
    margin: 0px;
}
h1 {
    font-size: calc(75px + (130 - 75) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D;
    text-shadow: 5px 5px 5px #9C9C9C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 190px 0px 0px 10%;
    letter-spacing: 3px;
    margin: 0;
}
h2 {
    font-size: calc(32px + (70 - 32) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0px 0px 0px 10%;
    margin: -.5em 0 0 0;
}
h3 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 10%;
    padding: 0px 0px 0px 10%;
    margin: 0;
    max-width: 680px;
}
h4 {
    font-size: calc(30px + (75 - 30) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    margin: -15px 0px -25px 0px;
    letter-spacing: 3px;
}
h5 {
    font-size: calc(14px + (35 - 14) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 0px 0px -8px 0px;
}
h6 {
    font-size: 19px;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}
h7 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.4;
}
h8 {
    font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
}
.block{
    display:inline-block;
    margin: 20% 0px 0px 5%;
    width: 80%;
    height: 20%;
}
.block h4{
    text-shadow: 5px 5px 5px lightgrey;
}
p {
    color:#707070; 
    font-family: 'Verdana', serif;
    font-size: 12px;
    line-height: 1.6;
}
.arrow{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 87%;
}

/* LINK IMAGES AND HOVERS */
.post {
    box-sizing: border-box;
    position: relative;
    width: 70%;
    margin: 80px 15%;
    border-style: solid;
    border-color: #767676;
    border-width: 8px;
    padding: 0px;
  }
  
.overlay {
    display: block;
    text-align: center;
    transition: all 0.2s ease;
}
.post:hover .overlay {
    visibility: visible;
    opacity: 40%;
    background: #F2F2F2;
}
.post:hover h5 {
    visibility: visible;
    opacity: 80%;
}
.post h5 {
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* LINK IMAGES AND HOVERS ENDS */

/* PARAGRAPH LINKS */
h7 a:link, h7 a:visited {
    text-decoration: none;
    color: #455C80;
    padding-bottom: 2px;
    border-bottom: solid 2px #455C80;
}
h7 a:hover, h7 a:focus, h7 a:active {
    text-decoration: none;
    color: green;
    padding-bottom: 2px;
    border-bottom: solid 2px green;
}
/* PARAGRAPH LINKS ENDS */

.portfolio {
    size: 130px;
    background-color: #3D3D3D; 
    font-family: 'Oswald', sans-serif;
} 
.hero {
    background: #EAEAEA;
    height: calc(100vh + 100px);
    width: 100%;
    margin-bottom: 100px;
    min-height: 80%;
}
.hero h3 {
    margin-right: 10%
}
/* Nav Bar Background */
.navbar-fixed{ 
    position:fixed; 
    top: 0;
    z-index: 10;
    height: 60px;
    width: 100%;
    background: #EAEAEA;
}
/* Home Button */
.homebutton {
   position: fixed;
   display: inline-block;
   top: 17px;
   left: 5vw;
   height: 35px;
   width: 35px;
}
.homebutton:hover {
    opacity: 70%;
    transition: 0.5s ease;
 }
 /* Dropdown Button */
.dropbtn {
   position: fixed;
   background-color: transparent;
   color: rgb(0, 0, 0);
   top: 17px;
   right: 5vw;
   border: none;
   height: 35px;
   width: 35px;
}
.dropbtn:hover {
    opacity: 70%;
    transition: 0.5s ease;
}
/* Footer Style */
.footer { 
    width: 100%;
    padding: 100px 0;
    background-color: #EAEAEA;
}
.info-centre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.info-centre p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 5%;
    color:#707070;
    font-size: 22px;
    line-height: 24px;
}
/* Footer Style Ends */
.blue {
    color: blue;
    text-decoration: underline;
    font-weight: 700;
}
/* ==== PAGE SETUP DESKTOPS ==== */
/* JFA & ICON Page Setup */
.back-flex { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 0;
    margin: 0 12% 150px 12%;
    background-color: #EAEAEA;
}
.ronnie { 
    padding: 0 50px;
    width: 100%;
    text-align: right;
    margin: -70px 0px 0px 0px;
}
.larry { 
    padding: 0 50px;
    width: 100%;
    margin: -70px 0px 0px 0px;
}
.back-flex div { 
    width: 52%; 
    padding: 2% 1%;
    align-self: center;
}
.back-flex img { 
    width: 38%;
    padding: 2% 1%;
    align-self: center;
}
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    visibility: hidden;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
}
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}
#back-to-top a {
    display: block;
    height: 32px;
    width: 32px;
}
.back-flex.right-just div { 
    text-align: right;
}
.back-flex p { 
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
}
/* Desktop */
@media all and (min-width:1500px) {
    .back-flex {
        margin: 115px 18%;
    }
    .back-flex.right-just {
        margin-bottom: 180px;
    }
}
/* Mobile */
@media all and (max-width:767px) { 
    .back-flex { 
        margin: 75px 5%;
    }
    .back-flex div { 
        width: 75%; 
        padding: 2% 1%;
        text-align: center;
    }
    .back-flex.right-just div { 
        text-align: center;
    }
    .back-flex img { 
        width: 75%;
        padding: 2% 1%;
        align-self: center;
    }
    /* Mobiles: Re-order columns for ICON */
    .right-just *:nth-child(2) { order: 3; }
    .right-just *:nth-child(3) { order: 2; }
    .right-just *:nth-child(4) { order: 5; }
    .right-just *:nth-child(5) { order: 4; }
    .right-just *:nth-child(6) { order: 7; }
    .right-just *:nth-child(7) { order: 6; }
    .right-just *:nth-child(8) { order: 9; }
    .right-just *:nth-child(9) { order: 8; }
    .right-just *:nth-child(10) { order: 11; }
    .right-just *:nth-child(11) { order: 10; }
    .right-just *:nth-child(12) { order: 13; }
    .right-just *:nth-child(13) { order: 12; }
    }
/* End of JFA & ICON Page Setup */

/* ARCHIVES Page Setup */
.arch-a {
    grid-area: concept-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    align-self: end;
}
.arch-b {
    grid-area: title-a;
    text-align: right;
    min-width: 0;
    align-self: end;
}
.arch-c {
    grid-area: intro-a;
    text-align: right;
    min-width: 0;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
}
.arch-d {
    grid-area: interior1-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    height: 100%;
}
.arch-e {
    grid-area: description-a;
    min-width: 0;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
    align-self: center;
}
.arch-f {
    grid-area: section1-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    align-self: end;
}
.arch-g {
    grid-area: section2-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    align-self: end;
    
}
.arch-h {
    grid-area: interior2-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    object-fit: cover;
}
.arch-i {
    grid-area: interior3-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    height: 100%;
}
.back3 {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: 200px 12%;
    background-color: #EAEAEA;
    padding: 3.5%;
}
.grid-a {
    background-color: none;
    margin: -15% auto 0px auto;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-areas: 
      ". concept-a concept-a"
      "title-a concept-a concept-a"
      "intro-a concept-a concept-a"
      "interior1-a description-a description-a"
      "interior1-a section1-a section2-a"
      "interior2-a interior3-a interior3-a";
    row-gap: 15px;
    column-gap: 15px;
}
/* ARCHIVES Desktop */
@media all and (min-width:1500px) {
    .back3 {
        margin: -20px 18% 200px 18%;
        min-width: 0;
        padding: 5%;
    } 
}
/* ARCHIVES Mobile Grid */
@media all and (max-width:767px) {
    .back3 {
        margin: -20px 5% 100px 5%;
    } 
    .arch-d {
        height: auto;
    }
    .arch-i {
        height: 100%;
    }
    .grid-a {
        margin: 5px auto 5px auto;
        grid-template-columns: 70vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "concept-a"
        "title-a"
        "intro-a"
        "description-a"
        "interior1-a"
        "interior1-a"
        "interior2-a"
        "interior3-a"
        "section1-a"
        "section2-a";
        row-gap: 10px;
    }
}
/* End of ARCHIVES Page Setup */
/* COMMUNITY CENTRE Page Setup */
.comm-a {
    grid-area: concept-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.comm-b {
    grid-area: title-c;
    min-width: 0;
    align-self: end;
}
.comm-c {
    grid-area: intro-c;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
    text-align: right;
    align-self: center;
}
.comm-c p {
    font-size: (8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
}
.comm-d {
    grid-area: birdseye-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
    height: 100%;
    min-height: 350px;
}
.comm-e {
    grid-area: diagram-c;
    min-width: 0;
}
.comm-f {
    grid-area: plan1-c;
    min-width: 0;
    width: 75%;
    margin: 0 auto;
}
.comm-g {
    grid-area: plan2-c;
    min-width: 0;
    width: 75%;
    margin: 0 auto;
}
.comm-h {
    grid-area: ext1-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.comm-i {
    grid-area: ext2-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.comm-j {
    grid-area: elev-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.comm-k {
    grid-area: section-c;
    min-width: 0;
}
.back4 {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: 200px 12%;
    min-width: 700px;
    background-color: #EAEAEA;
    padding: 3.5%;
}
.grid-c {
    background-color: none;
    margin: -15% auto 0px auto;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-areas: 
      "concept-c ."
      "concept-c title-c"
      "intro-c birdseye-c"
      "diagram-c ext1-c"
      "plan1-c ext2-c"
      "plan2-c ext2-c"
      "elev-c elev-c"
      "section-c section-c";
      row-gap: 15px;
      column-gap: 15px;
}
/* COMMUNITY Desktop */
@media all and (min-width:1600px) {
    .back4 {
        margin: -20px 18% 200px 18%;
    } 
}
/* COMMUNITY Mobile Grid */
@media all and (max-width:767px) { 
    .back4 { 
        margin: -20px 5% 100px 5%;
        min-width: 0;
        padding: 5%;
    }
    .comm-d {
        height: auto;
    }
    .grid-c { 
        margin: 5px auto 5px auto;
        grid-template-columns: 70vw;
        grid-template-rows: auto;
        grid-template-areas: 
          "concept-c"
          "title-c"
          "intro-c"
          "birdseye-c"
          "diagram-c"
          "ext1-c"
          "ext2-c"
          "plan1-c"
          "plan2-c"
          "elev-c"
          "section-c";
        row-gap: 10px;
    }
}
/* End of COMMUNITY CENTRE Page Setup */

/* RESEARCH CENTRE Page Setup */
.wind-a {
    grid-area: concept1-w;
    min-width: 0;
}
.wind-b {
    grid-area: title-w;
    text-align: right;
    min-width: 0;
    align-self: end;
    padding-bottom: 50px;
}
.wind-c {
    grid-area: concept2-w;
    min-width: 0;
}
.wind-d {
    grid-area: intro-w;
    text-align: right;
    min-width: 0;
}
.wind-d p {
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
}
.wind-e {
    grid-area: birdeye-w;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.wind-f {
    grid-area: exterior1-w;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.wind-g {
    grid-area: exterior2-w;
    min-width: 0;
    border: solid;
    border-width: 1px;
}
.wind-h {
    grid-area: rose-w;
    min-width: 0;
}
.wind-i {
    grid-area: section-w;
    min-width: 0;
}
.wind-j {
    grid-area: elevation-w;
    min-width: 0;
    align-self: end;
}
.back5 {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: 200px 12%;
    min-width: 700px;
    background-color: #EAEAEA;
    padding: 3.5%;
}
.grid-w {
    background-color: none;
    margin: -20% auto 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      ". concept1-w"
      "title-w concept1-w"
      "title-w concept2-w"
      "intro-w birdeye-w"
      "exterior1-w exterior2-w"
      "rose-w section-w"
      "elevation-w elevation-w";
    row-gap: 15px;
    column-gap: 15px;
}
/* RESEARCH Desktop */
@media all and (min-width:1600px) {
    .back5 {
        margin: -20px 18% 200px 18%;
    } 
}
/* REASEARCH Mobile Grid */
@media all and (max-width:767px) {
    .back5 {
        margin: -20px 5% 20px 5%;
        min-width: 0;
        padding: 5%;
    } 
    .grid-w { 
        min-width: auto;
        margin: 5px auto 5px auto;
        grid-template-columns: 70vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "concept1-w"
            "title-w"
            "concept2-w"
            "intro-w"
            "birdeye-w"
            "exterior1-w"
            "exterior2-w"
            "rose-w"
            "section-w"
            "elevation-w" 
            "elevation-w";
        row-gap: 10px;
    }
}
/* End of RESEARCH CENTRE Page Setup */

/* Div Used for arrow button */
.quick-link {
    margin-top: -250px;
    margin-bottom: 350px;
}
/* ==== Privacy Layout  ==== */
.privacy ul{
    color:#707070; 
    font-family: 'Verdana', serif;
    font-size: 12px;
    line-height: 1.6;
}
.privacy h2{
    margin: 100px auto;
}
.privacy h3{
    margin: 50px 0 10px 0;
    padding: 0;
}
/* Desktop */
@media all and (min-width:768px) {
    .privacy { padding: 4% 20% 5% 20% }
    }
/* Privacy - Mobiles Layout */
@media all and (max-width:767px) {
    .privacy { 
         padding: 7% 7% 10% 7%;
         text-align: center;
    }
    }
/* ==== End Privacy Layout  ==== */

/* General mobiles */
@media only screen and (max-width: 767px) { 
    .back3 *, .back4 *, .back5 * { text-align: center; }
    .back3 p, .back4 p, .back5 p { text-align: left; }
    .post .overlay {
        visibility: visible;
        opacity: 65%;
        background: #F2F2F2;
    }
    .post h5 {
        visibility: visible;
    }
    .footer { 
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }
    .info-centre {
        display: block;
        align-items: left;
        justify-content: center;
    }
    .info-centre p {
        padding: 5px 0 5px 20%;
        font-size: 15px;
    }
    p {
        font-size: 10px;
        line-height: 1.4;
    }
    .block{
        text-align:center;
        margin: 100px 10%;
        height: 100%;
    }
    .block h7{
        padding-top: 5px;
    }
    .post {
        width: 85%;
        margin: 30px auto
    }
}
@media (max-width: 576px) { 
    p {font-size: 14px;}
    }