/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box }
html { height: 100%; scroll-behavior: smooth; }
body { min-height: 100%; margin: 0px; }  
img { width: 100%; height: auto; max-width: 1600px; display: block }

h1 {
    font-size: calc(75px + (130 - 75) * ((100vw - 320px) / (1600 - 320)));;;
    color:#ffffff;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
}

h2 {
    font-size: calc(24px + (52 - 24) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3e5769; 
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    margin: -.5em 0 0 0;
}

h3 {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3e5769; 
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 10%;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1.4;
}

h4 {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3e5769; 
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

h5 {
    font-size: calc(15px + (42 - 15) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3e5769; 
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 2px;
}

h6 {
    font-size: 16px;
    color:#3e5769; 
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

h7 {
    font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3e5769; 
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0px;
    font-weight: 500;
    line-height: 1;
}

p {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
    color:#3e5769; 
    font-family: 'Maven Pro', sans-serif;
}

/* loading gif */
.spinner {
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    z-index: 9999998; 
}
 
#spinner img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    z-index: 9999999; 
}



/* ----- Home Page Layout -----*/

.hero {
    background-position: bottom;
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 80%;
    width: 100%;
    z-index: 99;
}
.shadow-one {background-image: url('../images/profiles/name-1.jpg')}
.shadow-two {background-image: url('../images/profiles/name-2.jpg')}
.shadow-three {background-image: url('../images/profiles/name-3.jpg')}
.shadow-four {background-image: url('../images/profiles/name-4.jpg')}
.shadow-five {background-image: url('../images/profiles/name-5.jpg')}


.hello-intro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 30%;
    margin-top: 30%;
    z-index: 99;
    width: 30%;
}


.hero h1 {
    font-size: calc(100px + (160 - 100) * ((100vw - 320px) / (1600 - 320)));;;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage{ 
    background: #f0f0f0;
}

#sketch-holder {
    position: absolute;
}

#sketch-holder h1 {
    position: absolute;
}


@media all and (max-width:768px) { 

    .hero h1 {
        font-size: calc(60px + (100 - 60) * ((100vw - 320px) / (1600 - 320)));;;
    }

 
}

/* Home page links and image hovers */
.post {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: 15% 10% 0 0;
    padding: 0px;
    justify-content: space-between;
}
.post a{
    width: 40%; 
    text-decoration: none;
    color: #551a8b
}
.post div{
    align-self: center;
    margin: 0 auto;
    width: 30%
}

.post h2{
    padding-bottom: 15px;
}

.last {
    margin-bottom: 15%;
}

.reduce-margin {
    margin: 5% 10% 0 0;
}
  
.overlay {
    display: block;
    /*text-align: center;*/
    width: 100%;
    transition: all 0.2s ease;
}

.post a:hover .overlay {
    visibility: visible;
    opacity: 40%;
    background: #F2F2F2;
}

.post h3 {
    font-size: calc(9px + (16 - 9) * ((100vw - 320px)/(1600 - 320)));
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 50px;
    transition: all 0.4s ease-in-out;
    /* text-transform: uppercase */
}
.post h3:hover {
    transform: scale(1.2);
    transform-origin: top left;
}

#sketch{
    width: 25%;
}
 

@media all and (max-width:767px) { 

    .post {
        width: 85%;
        margin: 30px auto
    }

    .post a {
        width: 100%; 
        text-decoration: none;
    }

    .post div {
        width: 90%;
        margin: 0 auto 25% auto;
    }

    .post h3 {
        font-size: 15px;
        margin-top: 25px
    }

    .switch:nth-child(1) { order: 2; }
    .switch:nth-child(2) { order: 1; }
    
}

@media all and (min-width:1367px) { 

    .post {
        width: 80%; 
        margin: 50px auto 0 auto;
    }

    .post a {
        width: 50%; 
    }
}

/* LINK IMAGES AND HOVERS ENDS */


/* ============ UTILITY CLASSES ======== */

.display-block { display: block }
.display-none  { display: none }

.bg-light-gray { background-color: #f0f0f0 }

/* ============ END UTILITY CLASSES ======== */


/* ========================= ALL MENU =====================  */

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: calc(18px + (28 - 18) * ((100vw - 320px)/(1600 - 320)));
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #3e5769; 
    letter-spacing: 2px;
    align-self: center;
}

/* Positions all menus in front of page content */
.container-menu-desktop, 
.flyout-menu { z-index: 100 }
.container-menu-bar-mobile { z-index: 999 }
.container-menu-desktop, .container-menu-bar-mobile { width:100% }


/* on mobiles - hide desktop menu */
@media all and (max-width:767px) { 
    .container-menu-desktop.menu-transparent,
    .container-menu-desktop.menu-light { display: none }
}

/* on desktops - hide mobile menu bar and list of menu options */
@media all and (min-width:768px) { 
    .container-menu-bar-mobile.menu-transparent,
    .container-menu-bar-mobile.menu-light,
    .flyout-menu.menu-transparent,
    .flyout-menu.menu-light { display: none }
}

/* sticks menu to top of desktop and/or mobile screen */
.menu-sticky { position: fixed; top: 0; left: 0; right: 0; }

/* Height of desktop menu and mobile menu bar */
.container-menu-desktop, .container-menu-bar-mobile { height:110px }

/* ---------- DESKTOP MENU ---------- */
/* outer parent flexbox container 
   home page link (with website logo) at left and ul links at right are its two children */
.container-menu-desktop {
	display: flex;
    justify-content: space-between;
    padding: 1% 6% 0 6%;
    width: 100%;
}

/* menu links aligned horizontally */
.container-menu-desktop ul li {
    display: inline-block;
    margin: 0 35px 0 0; /* spacing at right of menu links */
}

@media all and (max-width:767px) { 

    .container-menu-desktop ul li { 
        margin: 0 30px 0 0;
    }

}

/* vertically center menu links */
.container-menu-desktop ul { display: flex; align-items: center }

/* style text for links */
.container-menu-desktop ul li a {
    font-size: calc(9px + (16 - 9) * ((100vw - 320px)/(1600 - 320)));
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    color: #3e5769
    /* text-transform: uppercase */
}

/* Desktop Menu Background and links */
.menu-light { 
	background-color: #E1D0AE;
	transition: all .5s ease-in-out;
}

.menu-transparent { 
	background-color: transparent;
	transition: all .5s ease-in-out;
}

/*
.menu-light ul li a:link,  .menu-light ul li a:visited { color:#3e5769 }
.menu-light ul li a:hover, .menu-light ul li a:active  { color: #222; border-bottom: solid #131313 0.5px; transition: all 1s ease}
.menu-transparent ul li a:link,  .menu-transparent ul li a:visited { color: #3e5769 }
.menu-transparent ul li a:hover, .menu-transparent ul li a:active  { color: #222; border-bottom: solid #131313 1px; } 
*/

/*------ Sliding Undeline ------*/

.swipe-line {
    position: relative;
    display: inline-block;
    text-align: center;
}

.swipe-line::after {
    content: "";
    position: absolute;
}

.holder .swipe-line::after {
    top: 100%;
    height: 1px;
    width: 0%;
    left: 5%;
    background-color: #3e5769;
    transition: cubic-bezier(.77,0,.18,1) all .2s;
}

.holder:hover .swipe-line::after {
    width: 90%;
    transition: cubic-bezier(.77,0,.18,1) all .3s;
}

/*------ For Current WebPage ------*/
.is-active {
    display: inline-block;
    position: relative;
  }
  
.is-active:after {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    border-bottom: 1px solid #3e5769;
    display: block;
  }

/*------ End Sliding Undeline ------*/


/* ---------- MOBILE MENU  ---------- */

/* outer flexbox container for mobile menu bar 
   home page link (with website logo) at left and hamburger icon at right are its two children */
.container-menu-bar-mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    padding: 0 6% 0 6%;
}

/* three bars hozizontal in hamburger icon */
.item-icon .bar1, 
.item-icon .bar2, 
.item-icon .bar3 { width: 28px; height: 3px; margin: 5px 0; transition: 0.4s; background-color:#3e5769; }

/* hamburger icons shape to 'X' when fly-out menu is visible */
.change .bar1 { transform: rotate(-45deg) translate(-4px, 3px) }
.change .bar2 { opacity: 0 }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px) }


/* ---------- FLYOUT MENU ---------- */

/* Prevent scrolling outside flyout menu */
.no-scroll { overflow: hidden }

/* Container parent div for flyout menu content */
.flyout-menu { 
    position: fixed; display: block; 
    top: 72px; /* same height as menu bar */
    max-height: 100%;
    height: 100%;
    padding: 30px 40px 40px 30px;
    margin-top: -75px;
    transition: cubic-bezier(.79,.15,.25,.96) 0.7s;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch; /* safari on mobiles */   
    background-color: #E1D0AE; 
}

/* When flyout menu is displayed */
.flyout-menu {
    right: 0; /* displays flyout menu */
    overscroll-behavior: contain;
    overscroll-behavior-y: contain
}

/* Flyout width */
.flyout-menu { width: 100vw }
.flyout-menu.flyout-menu-is-closed { right: -100vw }
.flyout-menu ul li i.fa-envelope { display: none }


/* ---------- STYLE FOR LINKS INSIDE FLYOUT MENU ---------- */

.flyout-menu :first-child { 
    margin-top: 100px;
}
.flyout-menu :first-child { 
    margin-top: 100px;
}

.flyout-menu :nth-child(2) li {text-align: right; font-size: 16px;} 

.flyout-menu ul { margin-bottom: 40px }

.flyout-menu ul li { 
    margin: 0 40px 18px 0; 
    list-style-type: none;
    font-size: 24px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 4px;  
}

.flyout-menu ul li a { 
    text-decoration: none;
    color: #3e5769;
}

/* ---------- Footer Style ---------- */
.footer {
    width: 100%;
    padding: 85px 0;
    background-color: #E1D0AE;
}

.info-centre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.info-centre p {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    padding: 0 5%;
    color:#707070;
    font-size: 22px;
    line-height: 24px;
}

@media only screen and (max-width: 767px) {
    
    .footer { 
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }

    .info-centre {
        display: block;
        align-items: left;
        justify-content: center;
    }

    .info-centre p {
        padding: 5px 0 5px 20%;
        font-size: 15px;
    }
   
}

/* ---------- Footer Style Ends ---------- */

/* ---------- BACK TO TOP ICON ---------- */

a.back-to-top {
	position: fixed; text-align: center; text-decoration: none; border-radius: 100%;
}

@media (min-width: 768px) { 
	a.back-to-top { 
		right: 25px; bottom: 25px; width: 48px; height:48px;
	}
	.back-to-top i { padding-top: 6px; font-size: 32px }
}	
	
@media (max-width: 767px) { 
	a.back-to-top { 
		right: 18px; bottom: 18px; width: 36px; height: 36px;
	}
	.back-to-top i { padding-top: 4px; font-size: 24px }
}

a.back-to-top:link, a.back-to-top:visited {
	color: #fff; background-color:#A9A9A9;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);	
}

a.back-to-top:focus,
a.back-to-top:hover,
a.back-to-top:active {
	color: #fff; background-color: #4A5D47; 
	box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .28);
}

/* ---------- END BACK TO TOP ---------- */

/* ---------- Privacy Layout  ---------- */
.privacy ul{
    color:#707070; 
    font-family: 'Verdana', serif;
    font-size: 12px;
    line-height: 1.6;
}

.privacy h2{
    margin: 100px auto;
}

.privacy h3{
    margin: 50px 0 10px 0;
    padding: 0;
}

/* Desktop */
@media all and (min-width:768px) {
    .privacy { padding: 4% 20% 5% 20% }
    }

/* Privacy - Mobiles Layout */
@media all and (max-width:767px) {
    .privacy { 
         padding: 7% 7% 10% 7%;
         text-align: center;
    }
}
/* ---------- End Privacy Layout  ---------- */


.test-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: scaledown 5s infinite;
}

@keyframes scaledown {
    0% {
      transform: scale(1.0);
    }
    30% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(0.1);
    }
  }

  .test {
    position: absolute;
}

.test h1 {
    position: absolute;
}

.t{
    width: 25%;
}
